@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'sans-serif';
}

body {
    background-color: black;
    color: white;
}

/* Estilização cabeçalho*/
.banner {
    
    background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('./assets/images/banner.png');
    background-repeat: no-repeat;
    border-bottom: 1px solid #33A8DB80;
}

.banner-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}


.logo{
    margin-top: 60px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: 240px;
    width: 240px;
}


h1{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 25px;    
    text-transform: uppercase;
    color: #33A8DB;
}

.banner p {
    font-weight: 400;
    font-size: 19px;
    margin-top: 25px;
    max-width: 510px;
    
}

button {
    border: 1px solid #33A8DB;
    width: 326px;
    height: 57px;
    margin-top: 25px;
    color: #33A8DB;
    font-size: 16px;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase;
}

/*Estilização o que eu vou aprender*/

#course-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


#course-content h2 {
    color: #33A8DB;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: 700;
}

#course-content p {
    text-align: center;
    max-width: 792px;
    margin-top: 25px;
}

.module{
    margin-top: 25px;
    border: 1px solid #33A8BD;
    border-radius: 100px;
    padding: 16px;
    text-align: center;
    background-color: #252525;
   
    width: 535px;
}

.module span{
    color: #33A8BD;
}

/* Estilização transforme o mundo*/

#transform-world {
    background-image: url('/assets/images/woman-code.png');
    height: 560px;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 75px;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}

#transform-world p{
    font-size: 40px;
    font-weight: 900;
    width: 244px;
    height: 141px;
    text-align: left;
    position: absolute;
    margin: 200px;
    text-shadow: 3px 2px #33A8BD;
    text-transform: lowercase;
}

/*Estilização desafios profissionais*/

#professional-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#professional-challenges h2 {
    margin-top: 75px;
    color: #33A8BD;
    font-size: 32px;
    text-transform: uppercase;
    width: 746px;
    text-align: center;
    font-weight: 700;
}

#professional-challenges img {
    margin-top: 25px;
}

#professional-challenges p {
    width: 792px;
    height: 76px;
    text-align: center;
    margin-top: 50px;
}

footer {
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));;
    height: 170px;
    text-align: center;
    border-top: 1px solid #33A8DB80;
    margin-top: 75px;
}

footer img {
    margin-top: 60px;
}

footer p {
    margin-top: 10px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
  }